.cardContainer {
    display : flex;
    flex-direction: row;
    gap: 20px;
  }
  .buttonDiv {
    display:flex;
    justify-content: space-between;
  }
  .addButton {
    color: black;
    width:50px;
    height: 50px;
    border-radius: 15px;
    margin:3px;
    margin-left: 10px;
    border:none;
    background-color: rgb(255, 0, 208);
    box-shadow: 0 0 5px rgba(255,255,255,0.9);
    cursor: pointer;
  }
  .addBigButton {
    color: whitesmoke;
    background-color: transparent;
    width:50px;
    height: 50px;
    border-radius: 15px;
    margin:3px;
    margin-left: 10px;
    border:none;
    box-shadow: 0 0 15px rgba(255, 255, 0, 1.3);
    cursor: pointer;
  }
  .cardCategory {
    display:flex;
    flex-direction: column;
  }
  .reset {
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 3px;
    margin-right: 70px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }