.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: rgba(0,0,0,0.7);
}
.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
.cardContainer {
  display : flex;
  flex-direction: row;
  gap: 20px;
}
.buttonDiv {
  display:flex;
  justify-content: space-between;
}
.veryBigButton {
  background-color: transparent;
  color: whitesmoke;
  width:100px;
  height: 50px;
  border-radius: 10px;
  margin:3px;
  border:none;
  box-shadow: 0 0 15px rgba(255,255,0,1.5);
  cursor: pointer;
}
.validateButton {
  background-color: transparent;
  color: whitesmoke;
  width: 20vw;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;
  margin:3px;
  box-shadow: 0 0 15px rgba(255,255,0,0.5);
  cursor: pointer;
}
.input {
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
  width: 20vw;
  height: 30px;
  font-size: 20px;
  color: whitesmoke
}
.input:focus {
  outline: none;
}
.modal {
  background-color: transparent;
}
.sallyDiv {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.leaderBoardDiv {
  display: flex;
  justify-content: center;
  width: 50vw;
  gap:50px;
  border-bottom: 3px white solid;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* Légère transparence pour indiquer que la page est inactif */
  z-index: 1000; /* Assurez-vous que cette valeur est plus grande que les autres z-index de votre application */
  pointer-events: all; /* Cela intercepte tous les événements de souris */
}